<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/home.css"/>
  <title>HOME PAGE</title>

</head>
<body>
  

  <div class="welcome">

    <p1> Hey Hi , Welcome to Flask Login  Web APP</p1>
  </div>
  <div class="login-button">
    <a href= {{url_for('login')}}>Login Here</a>
  </div>

</body>
</html>