<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyWebPage</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login-form.css"/>
</head>
<body>
    <h2>Login Page</h2><br>
    <div class="login">
    <form id="login" method="post" action= {{url_for('loginform')}}>
        <label><b>User Name
        <img src="https://static.vecteezy.com/system/resources/previews/006/828/456/original/bright-smiley-face-emoji-expression-free-vector.jpg" height="20" width="20">
        </b>
        </label>
        <input type="text" name="Uname" placeholder="Username">
        <br><br>
        <label><b>User Email
        </b>
        </label>
        <input type="email" name="email" placeholder="Email">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="Pass" placeholder="Password">
        <br><br>
        <button value="Log In Here" >Log In Here</button>
        <br><br>
        <input type="checkbox" id="check">
        <span>Remember me</span>
        <br><br>
        Forgot Password <img src="https://cdn.pixabay.com/photo/2022/02/21/22/14/emoji-7027704_1280.png" height="30" width="30"><a href="https://go.dev/play/p/UGJTgux_DmD" target="_blank"> Click here</a>
    </form>
</div>
</body>
</html>