<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN-APP</title>
  <style>
    body{
      background-color: bisque;

    }
    .logindiv{
      font-size: large;
      border-radius: 10px;
      align-items:flex-start
    }

  </style>
</head>
<body>
  <div class="logindiv">
    <form method="post" action="./service">

      <label>USERNAME: </label>
      <input type="text" name="uname"> <br><br>
      <label>PASSWORD: </label>
      <input type="password" name="passwd"><br><br>
      <label> EMAIL: </label>
      <input type="email" name="email"><br><br>
      <button>LOGIN HERE</button>
    </form>
  </div>
</body>
</html>